
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <p>Made ❤️ by Himasha Rodrigo</p>
  </div>
</div>

</body>
<script charset="utf-8">

  // document.getElementsByClassName("btnUpdate")[0].addEventListener("click", function(){
  //     prompt("Do you want to update ?");
  // });




</script>
</html>
